
.fullHiden{
  background: rgba(0, 0, 0, 0);
}

#logo{
  width: 85px ;
  height: auto;
}

nav{
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
}

.navbar-fixed {
  position: absolute;
  z-index:999999999;
}

#sliderF{
  max-height: 100vh;
  min-height: 100vh;
}

.tittle{
  color: #757575
}

.sliderText{
  color: #fff;
  font-weight: bold 
}

#imgParallaxFix{
  max-width: 100vw;
}

p{
  text-align: justify;
}

nav ul a,
nav .brand-logo {
  color: #fff;
}

nav li a:hover{
  background:#ec407a;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #ffffff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #sliderF{
    max-height: 35vh;
    min-height: 35vh;
  }
  #imgParallaxFix{
    max-width: 250vw;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
